html {
  background-color: #f7c56e;
}
* {
  font-family: 'Lobster', cursive; 
}

h1 {
  text-align: center;
}

img {
  margin-left: 40%;
}

li {
  padding: 2px;
  margin: 2px;
}

.center {
  text-align: center;
}